body {
  margin: 0;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
}
.container-auth {
  width: 100%;
  height: fit-content;
  position: relative;
  background: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.all-auth {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px 12px 12px 0px;
  box-shadow: 0 22px 50px rgba(219, 129, 28, 0.7);
  padding: 30px;
  width: 400px;
  text-align: center;
  height: 650px;
}
.right-auth {
  width: 200px;
  position: absolute;
  left: 0;
  height: 200px;
  border-radius: 50%;
}
.left-auth {
  width: 200px;
  position: absolute;
  right: 20px;
  height: 200px;
  border-radius: 50%;
  bottom: 50px;
}
h2 {
  margin: 0 0 20px;
  color: #653a2a;
  font-size: 29px;
  font-family: revert-layer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #bc6c25;
  font-family: fangsong;
}
input:focus {
  border-color: #007bff;
  outline: none;
}
.container-auth .log-auth,
.regist-auth:hover {
  background-color: #653a2a !important;
  color: #ddd !important;
  padding-top: 10px;
}
.ground-auth {
  width: 400px;
  height: 650px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: 0 22px 50px rgba(219, 129, 28, 0.7);
}
form {
  color: #cd8742;
  font-family: cursive;
}
.google-button-auth img {
  width: 35px;
  position: absolute;
  left: 4px;
  top: 6px;
}
.container-auth .log-auth,
.regist-auth {
  width: 200px;
  padding: 6px;
  background-color: #ddb892;
  color: #653a2a;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  font-family: system-ui;
}
.google-button-auth {
  position: relative;
  background: linear-gradient(
    45deg,
    #95b7ed,
    #e4aea9,
    #e4cf95,
    #99e2bf,
    #96b2e0
  );
  color: white;
  border: none;
  border-radius: 25px;
  padding: 13px 20px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  overflow: hidden;
  transition:
    color 0.4s ease,
    box-shadow 0.4s ease;
  box-shadow:
    0 4px 20px rgba(66, 133, 244, 0.6),
    0 8px 30px rgba(219, 68, 55, 0.4);
}
.google-button-auth:hover {
  color: white;
}
.form-group-auth {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-with-icon-auth {
  position: relative;
}
input[type="password"] {
  padding-right: 35px;
}
.check-icon-auth {
  color: green;
  position: absolute;
  right: 10px;
  top: 32%;
  transform: translateY(-50%);
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.show-auth {
  opacity: 1;
}
@media (max-width: 480px) {
  .container-auth {
    width: 350px;
    margin: 20px auto;
  }
  .container-auth img {
    display: none;
  }
  .all-auth {
    height: fit-content;
  }
}
@media (min-width: 481px) and (max-width: 750px) {
  .container-auth {
    width: 480;
  }
  .container-auth img {
    display: none;
    max-width: 100%;
    margin: 0 auto;
  }
  .all-auth {
    height: auto;
  }
  .all-auth h2 {
    font-size: 1.5rem;
  }
}
