.navbar {
  width: 100%;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  background-color: #bc6c25;
  color: aliceblue;
  border: none;
  border-radius: 50%;
  padding: 12px 22px;
  cursor: pointer;
  font-size: 27px;
  transition: opacity 0.3s;
  z-index: 1000;
}
.authorname {
  font-size: 13px;
  background: rgb(223, 140, 45);
  padding: 10px;
  margin-bottom: 1px;
}
.book-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 240, 226);
  font-family: sans-serif;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.book-page h1 {
  color: rgb(98, 57, 16);
  font-size: 3vw;
  text-align: center;
  margin: 30px;
  padding-bottom: 20px;
}
.book-grid {
  display: grid;
  gap: 20px;
  width: 100%;
  padding: 0;
  background-color: rgb(252, 240, 226);
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
}
.book-item {
  position: relative;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(214, 59, 59, 0.11);
  overflow: hidden;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  height: 350px;
  justify-content: flex-start;
}
.book-item .book-preview {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 220px;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  text-align: center;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  opacity: 0;
}
.book-item:hover .book-preview {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.book-thumbnail {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.book-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(228, 7, 7, 0.2);
  transition:
    transform 1s ease,
    box-shadow 1s ease;
}
.book-item img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px;
}
.book-item:hover .book-info {
  bottom: 0;
}
.book-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgb(228, 187, 140);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  transition: bottom 2s ease;
  border-radius: 0 0 8px 8px;
}
.book-title {
  color: rgb(168, 123, 73);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 40px;
}
.book-title:hover {
  color: rgb(150, 110, 65);
}
.book-category h2 {
  padding: 17px;
  margin: 20px auto;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #653a2a;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.placeholder-cover .book-title {
  font-size: initial;
  background: antiquewhite;
  border-radius: unset;
}
.book-author {
  font-size: initial;
  background: antiquewhite;
  border-radius: unset;
}
.welcome {
  font-family: "Playwrite GB S";
}
.heart-icon {
  position: absolute;
  top: -4.5%;
  right: 1%;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s ease,
    background 0.3s ease;
}
.heart-icon.red {
  color: red;
}
.heart-icon:hover {
  color: rgba(255, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 480px) {
  .book-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: 350px;
    justify-content: center;
    gap: 30px;
  }
  .book-item {
    height: 150px;
    width: 114px;
    padding: 5px;
    background: burlywood;
  }
  .book-author {
    font-size: 10px;
  }
  .heart-icon {
    font-size: 17px;
    height: fit-content;
    width: fit-content;
    padding: 4px;
    top: -4px;
  }
}
