.category-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.genre-box {
  background-color: #ff5722;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.genre-name {
  text-align: center;
}
