.favorites-page-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 240, 226);
  font-family: sans-serif;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.favorites-page-custom h1 {
  color: rgb(98, 57, 16);
  font-size: 3vw;
  text-align: center;
  margin: 30px;
  padding-bottom: 20px;
}
.favorites-grid-custom {
  display: grid;
  gap: 20px;
  width: 100%;
  padding: 0;
  background-color: rgb(252, 240, 226);
  box-sizing: border-box;
  grid-template-columns: repeat(8, 1fr);
}
.favorite-item-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(214, 59, 59, 0.11);
  overflow: hidden;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
}
.favorite-item-custom:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(228, 7, 7, 0.2);
  transition:
    transform 1s ease,
    box-shadow 1s ease;
}
.favorite-thumbnail-custom {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.favorite-title-custom {
  color: rgb(168, 123, 73);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
.favorite-title-custom:hover {
  color: rgb(150, 110, 65);
}
.favorite-heart-custom {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.favorite-heart-custom.red {
  color: red;
}
.backButton-custom {
  position: fixed;
  top: 25%;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  outline: none;
  box-shadow: none !important;
  color: rgb(169, 123, 73);
}
.backButton-custom:hover {
  background-color: rgb(250, 233, 213) !important;
  color: rgb(169, 123, 73);
}
@media (min-width: 1422px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1280px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 993px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(3, 1fr);
    font-size: 5vw;
  }
}
@media (max-width: 744px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(2, 1fr);
    font-size: 6vw;
  }
}
@media (max-width: 664px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 526px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(1, 1fr);
    font-size: 7vw;
  }
}
@media (max-width: 325px) {
  .favorites-grid-custom {
    grid-template-columns: repeat(1, 1fr);
    font-size: 8vw;
  }
}
